extends ../layout

block content
  .container
    h1 Add the requirement
    p.lead So, the requirements are:
    br
    form(role='form', action="/projects/#{projectId}/requirements",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="title", placeholder='Enter the requirement title.')
      .form-group
        input.form-control(type='text', name="description", placeholder='Please describe the requirement here.')
      .form-group
        input.form-control(type='text', name="capacity", placeholder='What is the capacity for the requirement?')
      .form-group
        input.form-control(type='text', name="startingDate", placeholder="dd/mm/yyyy")
      .form-group
        input.form-control(type='text', name="endDate", placeholder="dd/mm/yyyy")

      button.btn.btn-default(type='submit') Add Requirement

      a(href='/')
        button.btn.btn-primary(type="button") Cancel
