extends layout

block content
  p.main_nav
    a(href='/projects')
      button.btn.btn-primary(type="button") View Projects
    br
    br
    if (user)
      a(href='/projects/new')
        button.btn.btn-default(type='submit') Add Project
    br
    br
    button.btn.btn-default(type="button" id="about") About Us
    p#target Volunteer Matcher has one simple goal, connecting people in need with people who can help.
  script(src='/javascript/script.js')
