extends layout

block content
  p.main_nav
    a(href='/projects')
      button.btn.btn-primary(type="button") View Projects
    br
    br
    if (user)
      a(href='/projects/new')
        button.btn.btn-default(type='submit') Add Project
