doctype html
html
  head
    title Volunteer Matcher
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper
      #header
        #logo
          a(href='/')
            img(src='../../images/volunteer-matcher-small.png')
        #login
          if (!user)
            a(href="/login") Login |
            a(href="/register") Register
          if (user)
            p You are currently logged in as #{user.username}
            a(href="/logout") Logout

      #banner
        img(src='../../images/volunteer-banner.png')

      #content
       #nav-bar
          ul
            li
              a(href='/') Home
            li
              a(href='#') News
            li
              a(href='#') Contact
            li
              a(href='#') About

        if (error && error.length > 0)
          br
          h4.error-msg= error
          br

        block content

      #footer
  script(src='http://code.jquery.com/jquery.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
