extends ../layout

block content
  .container
    h1.projects Listed Projects
    p.lead Currently open projects you can support.
    if (user)
      a(href='/projects/new')
        button.btn.btn-default(type='submit') Add Project
    br
    br
    ul
      each project in projects
        a(href="/projects/#{project.id}")
          button.btn.btn-secondary(type='submit') View Project
        p
          span.author Project created by,
            span.italic= ' ' + project.creator
          li= project.title+', '+project.description+', from '+ String(project.startingDate).split(' ').slice(0,3).join(' ') +' to '+ String(project.endDate).split(' ').slice(0,3).join(' ')
