extends ../layout

block content
  .container
    h1 Listed Projects
    p.lead Say something worthwhile here.
    br
    ul
      each project in projects
        li= project.title+', '+project.description+', from '+ project.startingDate+' to '+ project.endDate
        
