extends ../layout

block content
  .container
    h1.projects Listed Projects
    p.lead Currently open projects you can support.
    if (user)
      a(href='/projects/new')
        button.btn.btn-default(type='submit') Add Project
    br
    ul
      each project in projects
        li= project.title+', '+project.description+', from '+ project.startingDate+' to '+ project.endDate
