extends ../layout

block content
  .container
    h1.projects Listed Projects
    p.lead Currently open projects you can support.
    if (user)
      a(href='/projects/new')
        button.btn.btn-default(type='submit') Add Project
    br
    ul
      each project in projects
        .project
          h2.title= project.title
          p.description= project.description

          p.startingDate= 'Starting on ' + project.startingDate
          p.endDate= 'Ending on ' + project.endDate
          //- span.author= accounts.find(function(item) {return item._id == project.owner_id})
          br
          a(href='/projects/'+project._id) VIEW DETAILS

        br
