extends ../layout

block content
  
  h2#title= project.title
  p#description= project.description
  p#startingDate= 'Starting on ' + project.startingDate
  p#endDate= 'Ending on ' + project.endDate
  
  
